.navbar-brand img {
  max-height: 75px;
}

.navbar-nav .nav-link {
  margin: 0 10px;
  font-family: "EB Garamond", serif;

}

// .navbar-toggler, .navbar-toggler-icon{
//   max-width: 5px;
//   max-height: 5px;
// }

/* Custom transition for navbar collapse */
.navbar-collapse {
  transition: max-height 0.3s ease;

}

.navbar-collapse.collapsing {
  max-height: 0;
  transition: max-height 0.3s ease;
}

.navbar-collapse.collapse {
  max-height: 500px; /* Adjust this value as needed */
  transition: max-height 0.3s ease;
}

body{
  font-family: "EB Garamond", serif;
}
