.header{
    height: 300px;
    background-image: url('../images/2nd\ background.jpg');
//   background: linear-gradient(to bottom, #2e558b, #61a2f0); /* Gradient from left to right */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: "EB Garamond", serif;
}
.alle{
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling (optional) */
  border: 1px solid #ccc; /* Optional: add a border to the container */
  padding: 10px; /* Optional: add padding */
  margin-top: 20px;
  box-sizing: border-box;
  

  .card{
    flex: 0 0 auto; /* Ensure items don’t shrink or grow */
  padding: 15px; /* Optional: padding inside each item */
  border-radius: 5px; /* Optional: rounded corners */
  box-sizing: border-box;
  max-width: 420px;
  
  @media (max-width: 500px) {
width: fit-content;  }
  }
}